{% extends "base.html" %}

{% block title %}Richtlijnen{% endblock %}

{% block contents %}
<p>Helaas is het er toch van gekomen: door grote groei van #carnique is 
het tijd geworden voor een aantal richtlijnen om te proberen de grootste 
ergernissen te voorkomen. Eerst maar eens wat richtlijnen over 
taalgebruik en gedragscode:</p> 
 
<p><ul> 
 
<li><b>Taal</b><br> 
Ten eerste de taal. Ook al zijn er wel eens wat buitenlandse mensen op 
#carnique, de voertaal is en blijft Nederlands.</li> 
 
<li><b>Gelijkheid</b><br> 
Iedereen is gelijk op #carnique, behalve Domilijn. Die is De 
Baas(tm).</li> 
 
<li><b>Taalgebruik</b><br> 
Dingen die op #carnique niet gewenst zijn: schelden, racisme, spam en 
trollen. <br> 
Schelden lijkt me duidelijk: als je mensen graag wil begroeten met 'hee 
hoer' of iets dergelijks, doe je dat maar ergens anders.<br> 
Racisme wordt 
niet getolereerd. Uiting hiervan (niet dat het ooit nog is voorgekomen) 
zal beloond worden met een permban.<br> 
Met spam wordt hier "het overmatig zeggen van niet relevante dingen" 
bedoeld. Uiteraard valt adverteren hieronder, en jezelf onnodig herhalen, 
maar ook het met 1 andere persoon houden van een voor andere mensen 
irrelevante discussie. Als mensen zich hieraan storen is het slimmer (en 
gewenst) hiervoor een query te gebruiken.<br> 
Trollen, ofwel herhaaldelijk en persistent iemand uitlokken (er is vast
een betere definitie voor, zoek maar met <a 
href="http://www.google.com/">Google</a> als je precies wil weten wat het
is) is ook geen acceptabel gedrag.</li> 
 
<li><b>Bot-triggers</b><br> 
Verder graag geen bot-triggers abusen. Domilijn herhaaldelijk dezelfde 
vraag stellen of veel keer !taunt [nickname] achter elkaar doen is bijster 
irritant.</li> 
 
<li><b>Herhalen / kleuren / channel ctcp / channel notice</b><br> 
Deze dingen zijn allemaal niet gewenst. Niet doen dus.<br> 
Oh, /me is ook een channel ctcp (CTCP ACTION) maar daar maken
we een uitzondering voor. :)</li> 
 
</ul></p> 

{% endblock %}
