{% extends "skeleton.html" %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block contents %}
<p>Change your password</p>

<form action="/password/edit/" method="post">
<table>

<tr>
    <td><label for="id_new_password">New password</label></td>
    <td><input id="id_new_password" type="text" name="new_password" /></td>
</tr>

<tr>
    <td><label for="id_new_password2">New password (again)</label></td>
    <td><input id="id_new_password2" type="text" name="new_password2" /> (typ wachtwoord nogmaals in)</td>
</tr>

</table>
<input type="submit" value="submit" />
</form>

{% endblock %}
