{% extends "base.html" %}

{% block title %}
{{ puser.username }}
{% endblock %}

{% block contents %}
<p>Profiel van {{ puser.username }}</p>

{% if user.is_authenticated %}
<dl class="profile">

{% if puser.get_profile.realname %}
<dt class="profile">Naam</dt>
<dd class="profile">{{ puser.get_profile.realname }}</dd>
{% endif %}

{% if puser.get_profile.location %}
<dt class="profile">Locatie</dt>
<dd class="profile">{{ puser.get_profile.location }}</dd>
{% endif %}

{% if puser.get_profile.birthday %}
<dt class="profile">Verjaardag</dt>
<dd class="profile">{{ puser.get_profile.birthday }}</dd>
{% endif %}

{% if puser.get_profile.blog_url %}
<dt class="profile">Blog URL</dt>
<dd class="profile"><a href="{{ puser.get_profile.blog_url }}">{{ puser.get_profile.blog_url }}</a></dd>
{% endif %}

{% if puser.get_profile.twitter_username %}
<dt class="profile">Twitter username</dt>
<dd class="profile"><a href="http://twitter.com/{{ puser.get_profile.twitter_username }}">{{ puser.get_profile.twitter_username }}</a></dd>
{% endif %}

</dl>
{% endif %}

<p class="profile">
{% if profile_text %}
{{ profile_text|safe }}
{% else %}
Geen profiel.
{% endif %}
</p>

{% endblock %}

