{% extends "base.html" %}

{% block title %}Quotes{% endblock %}

{% block contents %}

{% if user.is_authenticated %}
<p><a href="/quotes/add/">Add new quote</a> -
<a href="/quotes/random/">Random quote</a> -
<a href="/quotes/top/1/">Top quotes</a>
</p>
{% endif %}

<p>
{% ifequal type 'page' %}
Page {{ current_page }} - 
<a href="{% url 'quotes.views.quote_view_page' first_page %}"><button type="button" class="btn btn-sm btn-default">First page</button></a>
<a href="{% url 'quotes.views.quote_view_page' previous_page %}"><button type="button" class="btn btn-sm btn-default">Previous page</button></a>
<a href="{% url 'quotes.views.quote_view_page' next_page %}"><button type="button" class="btn btn-sm btn-default">Next page</button></a>
<a href="{% url 'quotes.views.quote_view_page' last_page %}"><button type="button" class="btn btn-sm btn-default">Last page</button></a>
{% else %}
page {{ current_top }} - 
<a href="{% url 'quotes.views.quote_view_top_page' first_page %}">[first page]</a>
<a href="{% url 'quotes.views.quote_view_top_page' previous_page %}"><button type="button" class="btn btn-sm btn-default">Previous page</button></a>
<a href="{% url 'quotes.views.quote_view_top_page' next_page %}"><button type="button" class="btn btn-sm btn-default">Next page</button></a>
<a href="{% url 'quotes.views.quote_view_top_page' last_page %}"><button type="button" class="btn btn-sm btn-default">Last page</button></a>
{% endifequal %}
</p>

{% for q in quote_list %}
<h2 class="quoteheader"><a class="quoteheader" href="/quotes/{{q.id}}/">{{ q.title }}</a></h2>
<p class="quotebody"><pre>{{ q.text }}</pre></p>
<p class="quotefooter">
Score: <b>{{ q.score }}</b> - 
<a href="/quotes/{{ q.id }}/vote/up/">like</a> -
<a href="/quotes/{{ q.id }}/vote/down/">dislike</a> -
Added by {{ q.added_by.username }} at {{ q.added_on }}</p>
{% endfor %}

<p>Jump to page 
{% for p in page_list %}
  {% ifequal p current_page %}
  {{ p }}
  {% else %}
  <a href="/quotes/{{ type }}/{{ p }}/">{{ p }}</a> 
  {% endifequal %}
{% endfor %}
</p>

{% endblock %}

