{% extends "skeleton.html" %}

{% block contents %}

<a href="#wat">Wat is #carnique?</a><br> 
<a href="#waarom">Waarom heet het #carnique?</a><br> 
<a href="#hoe">Hoe kom ik op #carnique?</a><br> 
<a href="#wie">Wie hebben deze site gemaakt?</a><br> 
<a href="#code">Hoe kan ik me het beste gedragen op #carnique?</a><br> 
</p> 
 
<a name="wat"></a> 
<p>#carnique is een channel op <a href="http://www.irc.org/">IRC</a>. IRC
staat voor Internet Relay Chat. Met clients zoals <a 
href="http://www.mirc.com/">mIRC</a> (voor windows) of <a 
href="http://irssi.org/">irssi</a> (voor
unix-varianten (gebruik overigens <b>geen</b> BitchX want dat zuigt aars
vergeleken met irssi)) kun je verbinding maken met een IRC-netwerk. #carnique is
te vinden op CNQNet, een onafhankelijk klein netwerk.</p> 
 
<p>Wat doen we op #carnique? Chatten. Tonnen d'chatten.
De voertaal is nederlands en er heerst 
een positieve sfeer. Tegen verstoorders van deze sfeer wordt hard opgetreden :)</p> 
 
<a name="waarom"></a> 
<p>Waarom heet #carnique #carnique? Goede vraag. Geen idee of ik het antwoord
hier ooit nog neerzet... vooralsnog niet, je moet het maar op #carnique komen
vragen :)</p> 
 
<a name="hoe"></a> 
<p>Hoe kom je op #carnique? Download en installeer een IRC-client, configureer
hem, connect naar een irc-server van CNQNet (irc.carnique.nl)
en join #carnique. Zo simpel is het!</p> 
 
<a name="wie"></a> 
<p>Degene die het meeste heeft gedaan is
Garion. Dank gaat verder uit naar:</p> 
 
<p> 
<ul> 
<li>_mirage_ - ontwerp van het logo</li> 
<li>Habbie, freebase, macTijn, dweazle - hulp met php</li> 
<li>Jeans, Wuush - morele steun en algemene richtlijnen</li> 
<li>sabre2th - fix in stats, focus </li> 
<li>Link-D - login screen</li> 
<li>gday - fixen van login submitting</li> 
<li>Fuzzel - fixen van vierkantjes voor netscape</li> 
<li>copini - stats en tonnen d'fixes recentelijk</li> 
</ul> 
</p> 
 
<a name="code"></a> 
<p>Lees <a href="/guidelines/">de richtlijnen</a> maar even.</p> 


{% endblock %}
