/* Blue and orange */

.color-primary-0 { color: #08578F } /* Main Primary color */
.color-primary-1 { color: #5FAFE7 } /* Lightest */
.color-primary-2 { color: #2580C1 } /* Lighter */
.color-primary-3 { color: #05385C } /* Darker */
.color-primary-4 { color: #010A10 } /* Darkest */

.color-complement-0 { color: #DF7E00 }  /* Main Complement color */
.color-complement-1 { color: #FFB95F }
.color-complement-2 { color: #FF9F23 }
.color-complement-3 { color: #905100 }
.color-complement-4 { color: #1A0E00 }



.rgba-primary-0 { color: rgba(  8, 87,143,1) }  /* Main Primary color */
.rgba-primary-1 { color: rgba( 95,175,231,1) }
.rgba-primary-2 { color: rgba( 37,128,193,1) }
.rgba-primary-3 { color: rgba(  5, 56, 92,1) }
.rgba-primary-4 { color: rgba(  1, 10, 16,1) }

.rgba-complement-0 { color: rgba(223,126,  0,1) }   /* Main Complement color */
.rgba-complement-1 { color: rgba(255,185, 95,1) }
.rgba-complement-2 { color: rgba(255,159, 35,1) }
.rgba-complement-3 { color: rgba(144, 81,  0,1) }
.rgba-complement-4 { color: rgba( 26, 14,  0,1) }





/*
Normal  Grey    Dark    Pale    Palest
Primary Color:
104BA9  284A7E  052D6E  447BD4  6A93D4
Secondary Color A: (yellow)
FFCD00  BFA330  A68500  FFD940  FFE373
Secondary Color B: (orange)
FF6700  BF6A30  A64300  FF8D40  FFAB73
*/

body {
    background: #ffffff;
    color: #012345;
}

div.container {
    color: #111111;
    margin-top: 50px;
}

div.cnq-header {
    background: #5FAFE7;
    color: #000000;
    display: block;
    margin-top: 20px;
    margin-bottom: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 32px;
    border: 1px solid #999999;
}

div.cnq-body {
    margin-top: 20px;
}

/* The navigation bar */

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

nav.navbar {
    color: #DF7E00;
    background: #08578F;
    border-radius: 0px;
}

ul.dropdown-menu {
    color: #DF7E00;
    background: #08578F;
}

a.dropdown-item {
    color: #DF7E00 !important;
}

.navbar a:hover {
    background-color: #2580C1 !important;
}

li.navbar {
    margin-bottom: 0px;
}

/*Make sure the pulldowns in the navigation bar appear on hover, not on click.*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

/* The panels on the right */

.panel-default {
    border: 1px solid #08578F;
    border-radius: 6px;
}
.panel-default > .panel-heading {
    background: #5FAFE7;
    color: #000000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.panel-default > .panel-body {
    background: #eee;
    color: #000000;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

a:link    { color: #DF7E00; }
a:visited { color: #DF7E00; }
a:active  { color: #DF7E00; }
a:hover   { color: #DF7E00; }

dl.profile {
 width:100%;
 overflow:hidden;
 background:#ff0;
 border: 1px solid #08578F;
}
dt.profile {
 float:left;
 width:30%; /* adjust the width; make sure the total of both is 100% */
 background: #fff;
}
dd.profile {
 float:left;
 width:70%; /* adjust the width; make sure the total of both is 100% */
 background: #fff;
}

p.errornote {
    color: red;
    font-weight: bold;
}
ul.errorlist {
    color: red;
}
