/* Blue and orange */

.color-primary-0 { color: #08578F } /* Main Primary color */
.color-primary-1 { color: #5FAFE7 } /* Lightest */
.color-primary-2 { color: #2580C1 } /* Lighter */
.color-primary-3 { color: #05385C } /* Darker */
.color-primary-4 { color: #010A10 } /* Darkest */

.color-complement-0 { color: #DF7E00 }  /* Main Complement color */
.color-complement-1 { color: #FFB95F }
.color-complement-2 { color: #FF9F23 }
.color-complement-3 { color: #905100 }
.color-complement-4 { color: #1A0E00 }



.rgba-primary-0 { color: rgba(  8, 87,143,1) }  /* Main Primary color */
.rgba-primary-1 { color: rgba( 95,175,231,1) }
.rgba-primary-2 { color: rgba( 37,128,193,1) }
.rgba-primary-3 { color: rgba(  5, 56, 92,1) }
.rgba-primary-4 { color: rgba(  1, 10, 16,1) }

.rgba-complement-0 { color: rgba(223,126,  0,1) }   /* Main Complement color */
.rgba-complement-1 { color: rgba(255,185, 95,1) }
.rgba-complement-2 { color: rgba(255,159, 35,1) }
.rgba-complement-3 { color: rgba(144, 81,  0,1) }
.rgba-complement-4 { color: rgba( 26, 14,  0,1) }





/*
Normal  Grey    Dark    Pale    Palest
Primary Color:
104BA9  284A7E  052D6E  447BD4  6A93D4
Secondary Color A: (yellow)
FFCD00  BFA330  A68500  FFD940  FFE373
Secondary Color B: (orange)
FF6700  BF6A30  A64300  FF8D40  FFAB73
*/

body {
    background: #ffffff;
    color: #012345;
}

div.container {
    background: #052D6E;
    color: #ffffff;
    margin-top: 50px;
}

div.cnq-header {
    background: #104BA9;
    /*text-align: center;*/
    display: block;
    margin-top: 20px;
    margin-bottom: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /*border-radius: 8px;*/
    font-size: 32px;
    border: 1px solid #999999;
}

div.cnq-body {
    margin-top: 20px;
}

div.cnq-navbar {
    color: #A64300;
    background: #FFAB73;
    border-radius: 0px;
}

.panel-default>.panel-heading {
    background: #BFA330;
    /*#A68500;*/
    color: #FFE373;
}

div.panel-body {
    background: #FFE373;
    color: #A68500;
}

a:link    { color: #FF6700; }
a:visited { color: #FF6700; }
a:active  { color: #FF6700; }
a:hover   { color: #FF6700; }

a.navbar-default:link    { color: #FF6700; }
a.navbar-default:visited { color: #FF6700; }
a.navbar-default:active  { color: #FF6700; }
a.navbar-default:hover   { color: #FF6700; }

.navbar-default .navbar-nav>li>a {
    color: #FF6700;
}
li.navbar {
    margin-bottom: 0px;
}
/*Make sure the pulldowns in the navigation bar appear on hover, not on click.*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
