body {
    background: #ffffff;
}

div.cnq-header {
    background: #a2beeb;
    /*text-align: center;*/
    display: block;
    margin-top: 70px; /*How to make this div right below the nav menu?*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 8px;
}

div.cnq-body {
    margin-top: 20px;
}

div.cnq-navbar {
    color: #dddddd;
    background: #182680;
}